<settings>
    <setting propertyKey="@Properties.BottomInfo" title="@Strings.BottomInfoSettingTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.BottomInfoSettingNone</listEntry>
            <listEntry value="1">@Strings.BottomInfoSettingSteps</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.AccentColor" title="@Strings.AccentColorSettingTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.AccentColorSettingYellow</listEntry>
            <listEntry value="1">@Strings.AccentColorSettingRed</listEntry>
            <listEntry value="2">@Strings.AccentColorSettingMint</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.AlwaysShowBattery" title="@Strings.AlwaysShowBatteryTitle">
        <settingConfig type="boolean" />
    </setting>
</settings>
